/************************* Control panel (right) ***************************/
.control-panel {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 96px;
    right: 0;
    margin-left: 585px;
    margin-top: 29px;
    z-index: 1000;
    color: #fff;

    transition: top 0.5s;
    -webkit-transition: top 0.5s;
    -o-transition: top 0.5s;

}

.control-panel__close {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 55px;
    height: 55px;
    border-left: 1px solid #686969;
    z-index: 50;
    background: url(../img/control-close.png) no-repeat center center;
    cursor: pointer;
}

.control-panel__close:hover {
    background-color: #303948;
}

.control-panel__item._active .info-panel,
.control-panel__item._active .control-panel__close {
    display: block;
}

.control-panel__item {
    list-style: none;
    margin: 0 0 1px;
    padding: 0;
    display: block;
    position: relative;
    float: right;
    clear: both;
    width: 55px;
    overflow: hidden;

    transition: width 0.2s cubic-bezier(0.8, 0, 0.2, 1) 0s;
    -webkit-transition: width 0.2s cubic-bezier(0.8, 0, 0.2, 1) 0s;
    -o-transition: width 0.2s cubic-bezier(0.8, 0, 0.2, 1) 0s;
}

.control-panel__item:nth-child(2) {
    display: none;
}

.control-panel__item._hover  {
    width: 288px;
}

.control-panel__wrap {
    position: relative;
    left: 0;
}

.control-panel__item._active {
    overflow: visible;
    width: 341px;
}

.control-panel__item._active .control-panel__wrap {
    width: 341px;
    position: relative;

    box-shadow: -2px 0px 5px -2px rgba(0, 0, 0, 0.75);
}

.control-panel__item.active .control-panel__title {
    display: block;
}

.control-panel__item._active .control-panel__title {
    position: relative;
    cursor: default;
}

.control-panel__title {
    font-family: 'pf_highway_sans_thin';
    font-size: 21px;
    line-height: 55px;
    overflow: hidden;
    width: 273px;
    height: 55px;
    padding-left: 68px;
    background-color: #3e4757;
    cursor: pointer;
    background-image: url(../img/control-icons.png);
}

.control-panel__title_calc {
    background-position: 12px 13px;
    background-repeat: no-repeat;
}

.control-panel__title_consult {
    background-position: 12px -42px;
    background-repeat: no-repeat;
}

.control-panel__title_reviews {
    background-position: 12px -99px;
    background-repeat: no-repeat;
}

.control-panel__informer {
    font-size: 12px;
    line-height: 18px;
    font-family: Arial, Verdana, sans-serif;
    color: #000;
    background: #ffdd2e;
    border-radius: 9px;
    position: absolute;
    left: 34px;
    top: 5px;
    width: 18px;
    height: 18px;
    text-align: center;
}


.info-panel {
    /* width: 341px;*/
    /*height: 390px;*/
    background: rgba(62, 71, 87, 0.9);
    z-index: 50;
    display: none;
    border-top: 1px solid #686969;
    color: #fff;
}

.info-panel_chat {
    /*height: 358px;*/
}

.info-panel_chat .mCSB_container div:first-child {
    margin-top: 20px;
}

.info-panel_chat .mCSB_container div:last-child {
    margin-bottom: 12px;
}

.chat__textarea {
    display: block;
    height: 24px;
    color: #9c9898;
    font-size: 14px;
    width: 244px;

    background: #FFFFFF;
    border: none;
    border-right: 4px solid #FFFFFF;
    margin: 0 0 11px;
    padding: 8px;
    resize: none;

    border-radius: 7px;
    outline: none;
    font-family: 'pragmatica_book',Arial,sans-serif;
}

.chat__message {
    font-family: 'pf_highway_sans_proregular-webfont',Arial,sans-serif;
    padding: 0 8px 8px 18px;
}


.chat__img {
    border-radius: 18px;
    height: 35px;
    width: 35px;
    display: inline-block;
    vertical-align: middle;
}

.chat__operator {
    padding: 0 8px 0 18px;
}

.chat__operator-name {
    font-size: 15px;
    line-height: 17px;
    margin: 0 0 0 8px;
    display: inline-block;
    vertical-align: middle;
}

.chat__bubble {
    border-radius: 7px;
    display: inline-block;
    font-size: 14px;
    line-height: 16px;
    padding: 10px 14px;
    position: relative;
    margin-bottom: 12px;
}

.chat__bubble_white {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #000000;
    margin-top: 12px;
}

.chat__bubble_blue:after,
.chat__bubble_white:after {
    background: url("../img/bubble-arr-white.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    bottom: -11px;
    clear: both;
    content: "";
    display: block;
    height: 11px;
    left: 17px;
    position: absolute;
    width: 13px;
}

.chat__bubble_blue {
    background: #699ed6;
    background: -webkit-linear-gradient(top, #7baddc, #699ed6);    /* Safari 5.1, Chrome 10+ */
    background: -moz-linear-gradient(top, #7baddc, #699ed6);    /* Firefox 3.6+ */
    background: -ms-linear-gradient(top, #7baddc, #699ed6);    /* IE 10 */
    background: -o-linear-gradient(top, #7baddc, #699ed6);    /* Opera 11.10+ */
    color: #fefefe;
}

.chat__bubble_blue:after {
    background: url(../img/bubble-arr-blue.png) no-repeat 0 0;
    left: auto;
    right: 17px;
}

.chat__bubble_white a {
    color: #70A4D8;
}

.yellow-btn_chat {
    border: medium none;
    border-radius: 7px;
    padding: 9px 8px 10px 8px;
    font: 14px/16px 'pragmatica_book',Arial,sans-serif;
    outline: medium none;
}


.info-panel_message {
    height: auto;
    /* border-radius: 0 0 9px 9px;*/
    padding: 20px 20px 14px;
}

.info-panel_calc {
    height: 388px;
}

.info-panel__calc-link {
    color: #70a4d8;
    text-decoration: underline;
}

.info-panel__calc-info {
    margin-bottom: 5px;
}

.info-panel_reviews {
    height: 430px;
}

.info-panel__item_calc {
    font: 15px/23px 'pf_highway_sans_proregular', Arial, Verdana, sans-serif;
    padding: 11px 20px 11px 70px;
    background: url(../img/control-panel-icons.png) no-repeat;
    border-bottom: 1px solid #686969;
}

.info-panel__item_calc:last-child {
    border-bottom: none;
}

.info-panel__item_calc-cards {
    background-position: 11px -153px;
}

.info-panel__item_calc-proc {
    background-position: 11px 10px;
}

.info-panel__item_calc-gift {
    background-position: 11px -312px;
}

.info-panel_reviews-img {
    width: 50px;
    height: 50px;
}

.info-panel__reviews-img,
.info-panel_reviews-name {
    display: inline-block;
    vertical-align: middle;
}

.info-panel__reviews-img{
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.info-panel_reviews-name {
    width: 250px;
    margin-left: 10px;
}

.info-panel_reviews-title {
    margin: 0;
    padding-right: 30px;
    font-size: 18px;
    min-height: 20px;
    display: block;
    color: #fff;
    text-decoration: none;
}

.info-panel_reviews-title:hover {
    text-decoration: underline;
}

.info-panel__item_reviews:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 16px;
    top: 22px;
    background: url(../img/soc-small-icons.png) no-repeat 0 0;
}
.info-panel__item_reviews._facebook:before {
    background-position: right -90px;
}

.info-panel__item_reviews._twitter:before {
    background-position: right 0;
}

.info-panel__item_reviews._vkontakte:before {
    background: url(../img/social-icons.png) no-repeat -52px -52px;
}

.info-panel_reviews-subtitle {
    font-size: 14px;
}

.info-panel_reviews-msg {
    font-size: 16px;
    margin: 0px 0 0 60px;
    font-family: 'pf_highway_sans_proregular';
}

.info-panel__item_reviews {
    padding: 11px 6px 21px 10px;
    border-bottom: 1px solid #686969;
    font-family: 'pf_highway_sans_prolight';
    position: relative;
}

.info-panel__item_reviews:last-child {
    border-bottom: none;
}

.chat-close {
    background: url("../img/control-close.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    border-left: 1px solid #686969;
    cursor: pointer;
    display: none;
    height: 60px;
    position: absolute;
    right: 0;
    top: 0;
    width: 55px;
    z-index: 2000;
}

.chat-close._visible {
    display: block;
}

/**************** Mod for CALCULATOR *************************/

.submission__chat .info-panel {
    display: block;
}

.submission__chat .info-panel_message {
    border-radius: 0 0 9px 9px;
}

.submission__chat.submission__chat_lower {
    top: 358px;
}

.submission__chat {
    bottom: 0;
    color: #FFFFFF;
    font-size: 21px;
    left: 0;
    position: absolute;
    width: 100%;
    /*z-index: 10000;*/
}

.submission__chat-opener {
    position: relative;
    cursor: pointer;
}


.submission__chat-wrapper {
    display: none;
    /*position: absolute;*/
    position: relative;
}

.submission__chat-title {
    background: url("../img/control-icons.png") no-repeat scroll 18px -42px #505867;
    height: 60px;
    line-height: 60px;
    color: #FFFFFF;
    font-size: 20px;
    display: none;
    cursor: pointer;
    border-radius: 0 0 9px 9px;
    padding-left: 67px;
}

._no-round {
    border-radius: 0;
}

.submission__chat-title._active {
    display: block;
    cursor: pointer;
}


/************************* Control panel (right) ***************************/
.chat__frame {}

.yellow-btn.yellow-btn_livechat-state {
    height: 0;
    width: 0;
    float: left;
    visibility: hidden;
    position: absolute;
}

.cta_caso-btn {
    color: #70a4d8;
}