$yellow-color: #ffdf00;
$header-color: #404040;
$blue-color: #528fcc;
$blue-color-border: #b0d3f5;
$blue-border-style:1px dotted $blue-color-border;
$animation-position-collection: (0, 67px, 134px, 201px, 268px, 335px, 402px, 469px, 536px, 570px);
$font-highway_sans_pro-light:'pf_highway_sans_prolight', Arial, Verdana, sans-serif;
$font-highway_sans_pro-regular:'pf_highway_sans_proregular', Arial, Verdana, sans-serif;
$font-highway_sans_pro-thin:'pf_highway_sans_thin', Arial, Verdana, sans-serif;
$font-highway_sans_pro-extra_thin:'pf_highway_sans_extra_thin', Arial, Verdana, sans-serif;
$font-pragmatica-book:'pragmatica_book', Arial, Verdana, sans-serif;
$font-pragmatica-light:'pragmatica_light', Arial, Verdana, sans-serif;
$font-pragmatica-extra_light:'pragmatica_extra_light', Arial, Verdana, sans-serif;


.footer .social__item {
    /*margin-left: 10px;*/
    margin-left: 7px; /*временный стиль*/
}

// *********************************** //
// AngularJS + CSS3 Radio Buttons v.01
// Для переключателей во вкладке "Детям"
// *********************************** //

// Establish overall variables

$toggleheight: 56px;
$togglewidth: 250px;
$togglebg: rgb(255,255,255);
$togglebordersize: 1px;
$togglebordercolor: rgb(230,230,230);
$toggleinputwidth: $togglewidth - 2*$togglebordersize;

$switchbg: rgb(255,255,255);
$switchheight: 55px;
$switchwidth: 125px;
$switchbordersize: 1px;
$switchbordercolor: darken($switchbg, 15%);

$activecolor: #82accc;
$activebordercolor: darken($activecolor, 5%);

$labeloffset: $toggleheight / 3.63636364;
$borderradius: 32px;


.toggle-bg {
    background: $togglebg;
    border-radius: $borderradius;
    border: $togglebordersize solid $togglebordercolor;
    display: block; /* ...So that we can set a height and width */
    float: left; /* ...So that it doesn't take up the full width of the page */
    height: $toggleheight; /* You can change this later if you want */
    position: relative; /* Required to allow the switch to move around */
    width: $togglewidth; /* This can be changed later as well */
    &.toggle-triple {
        width: 169px;
    }

    &:hover {
        border-color: darken($togglebordercolor,5%);
    }

    input {
        opacity: 0;
        margin: 0;
        padding: 0;
        width: $toggleinputwidth;
        height: 100%;
        // @include opacity(0);
        position: absolute;
        left: 0;
        top: 0;
        cursor: pointer;
        z-index: 2; /* We want the input to be over the span.switch, which we'll give a z-index of 1 */
        /*IE*/
        zoom: 1;
        filter: alpha(opacity=0);
        /* initial toggle position */
        &:checked ~ .switch {
            left: 0;
        }
        /* final relative toggle position */
        & ~ :checked ~ .switch {
            left: ($togglewidth - $switchwidth - $togglebordersize);
        }

        & ~ :checked ~ .switch.center {
            left: 55px;
        }

        & ~ :checked ~ .switch.right {
            left: 113px;
        }

        &:checked {
            z-index: 0;
            opacity: 0;
        }
    }
}

.switch {
    background: $switchbg;
    border-radius: $borderradius;
    border: $switchbordersize solid $switchbordercolor;
    display: block;
    float: left;
    /*height: $switchheight;
  width: $switchwidth;*/
    left: -.1em;
    position: relative;
    color: #fff;
    background-color: $activecolor;
    font-family: $font-highway_sans_pro-thin;
    font-size: 22px;
    z-index: 1; /* Remember, it must be below the invisible inputs */
    padding: 18px 22px;
    margin:-1px;
}

.toggle-alternate {

    label {
        font-family: $font-highway_sans_pro-thin;
        color: $header-color;
        font-size: 22px;
        position: absolute;
        padding: 19px 20px;

        &.center {
            left: 20px;
        }

        &.right {
            right: 0;
        }
    }
}

.toggle-triple {
    input {
        width: 56px;

        &.center {
            left: 58px;
        }

        &.right {
            left: 113px;
        }
    }

    label {
        font-family: $font-highway_sans_pro-thin;
        color: $header-color;
        font-size: 22px;
        position: absolute;
        padding: 19px 20px;

        &.center {
            left: 58px;
        }

        &.right {
            right: 0;
        }
    }

    .switch {
        &.left {
            left: 0;
        }

        &.center {
            left: 55px;
        }

        &.right {
            right: 113px;
        }
    }
}

// *********************************** //
// ui-autocomplete
// *********************************** //
.ui-menu {
    margin-top: 5px;
    font: 18px/20px $font-pragmatica-light;

    .ui-menu-item {
        background: #fff;
        color: $header-color;
        font-weight: normal;
        height: 30px;
        padding: 10px;
        list-style-image: none;
        border: none;

        &:hover {
            background: $blue-color;
            color: $header-color;
            font-weight: normal;
            border: none;
        }
    }
}


// *********************************** //
// jquery datepicker
// *********************************** //
.ui-datepicker-title {
    select.ui-datepicker-month,
    select.ui-datepicker-year {
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 14px;
        width: 31%;
        margin: 0 10px;
    }
}
.ui-state-active{
    background:#5ba1e7;
}
.ui-datepicker-prev,
.ui-datepicker-next {
    padding-top: 7px;
}

// *********************************** //
// Общие стили
// *********************************** //
.label {
    background-color: transparent;
    text-shadow: none;
    font-weight: normal;
    white-space: normal;
    line-height: 20px;
    vertical-align: baseline;
    padding: 0;
}

.layout {
    //min-height: 1000px;
}

.popup-overlay {
    //background: url(../img/Intro.png)  279px 76px/*250px 133px*/ no-repeat;
}

.yellow-btn {
    background: #ffe32e; /* Old browsers */
background: -moz-linear-gradient(top,  #ffe32e 0%, #fad728 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffe32e), color-stop(100%,#fad728)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffe32e 0%,#fad728 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffe32e 0%,#fad728 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffe32e 0%,#fad728 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffe32e 0%,#fad728 100%); /* W3C */
 &:hover {
        background: #ffd940; /* Old browsers */
background: -moz-linear-gradient(top,  #ffd940 0%, #ffcd33 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffd940), color-stop(100%,#ffcd33)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffd940 0%,#ffcd33 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffd940 0%,#ffcd33 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffd940 0%,#ffcd33 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffd940 0%,#ffcd33 100%); /* W3C */
    }
    &:active {
        background: #ffcd33; /* Old browsers */
        background: -moz-linear-gradient(top, #ffcd33 0%, #ffd940 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffcd33), color-stop(100%,#ffd940)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #ffcd33 0%,#ffd940 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #ffcd33 0%,#ffd940 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #ffcd33 0%,#ffd940 100%); /* IE10+ */
        background: linear-gradient(to bottom, #ffcd33 0%,#ffd940 100%); /* W3C */
        box-shadow: inset 0 1px 1px 0 #B29B23;
        border-width: 0 1px 1px 1px;
    }

    &._disabled {
        &:active {
            background: #ffdd2e;
            box-shadow: 0 1px 1px 0 #B29B23;
            border-width: 1px 1px 0 1px;
        }
    }
}
.blue-link_dashed{
    border-bottom:$blue-border-style;
}
// *********************************** //
// Стили основных иконок
// *********************************** //
$health_icon_normal: 0;
$health_icon_hover: -56px;
$health_icon_active: -112px;
$travel_icon_normal: -168px;
$travel_icon_hover: -224px;
$travel_icon_active: -280px;
$property_icon_normal: -336px;
$property_icon_hover: -392px;
$property_icon_active: -448px;
$auto_icon_normal: -504px;
$auto_icon_hover: -560px;
$auto_icon_active: -616px;

.insurance_icon {
    background: url(../img/insurance_types.png) 0 0 no-repeat;
    width: 57px;
    height: 56px;
    display: inline-block;
    cursor: pointer;
}

.health_icon {
    background-position: 0 $health_icon_normal;

    &:hover {
        background-position: 0 $health_icon_hover;
    }

    &:active {
        background-position: 0 $health_icon_active;
    }
}

.travel_icon {
    background-position: 0 $travel_icon_normal;

    &:hover {
        background-position: 0 $travel_icon_hover;
    }

    &:active {
        background-position: 0 $travel_icon_active;
    }
}

.property_icon {
    background-position: 0 $property_icon_normal;

    &:hover {
        background-position: 0 $property_icon_hover;
    }

    &:active {
        background-position: 0 $property_icon_active;
    }
}

.auto_icon {
    background-position: 0 $auto_icon_normal;

    &:hover {
        background-position: 0 $auto_icon_hover;
    }

    &:active {
        background-position: 0 $auto_icon_active;
    }
}

.submission__icons {
    margin: -13px 0 70px;

    li {
        display: inline-block;
        margin-right: 17px;

        .text {
            display: inline-block;
            vertical-align: top;
            line-height: 57px;
            margin-left: 10px;
        }
    }

    &.submission__icons_block {
        li {
            width: 330px;
            margin: 30px 0 0 0;

            a {
                &:hover {
                    cursor: pointer;
                    color: #000;

                    .text {
                        text-decoration: underline;
                    }

                    .health_icon {
                        background-position: 0 $health_icon_hover;
                    }

                    .travel_icon {
                        background-position: 0 $travel_icon_hover;
                    }

                    .property_icon {
                        background-position: 0 $property_icon_hover;
                    }

                    .auto_icon {
                        background-position: 0 $auto_icon_hover;
                    }
                }

                &:active {
                    .health_icon {
                        background-position: 0 $health_icon_active;
                    }

                    .travel_icon {
                        background-position: 0 $travel_icon_active;
                    }

                    .property_icon {
                        background-position: 0 $property_icon_active;
                    }

                    .auto_icon {
                        background-position: 0 $auto_icon_active;
                    }
                }
            }
        }
    }
}

// *********************************** //
// mixin для позиций иконок страховок
// *********************************** //
@mixin round_icon() {
    .round-icon_health {
        background-position: 0 0;
    }

    .round-icon_yourprice {
        background-position: 0 -114px;
    }

    .round-icon_professional {
        background-position: 0 -228px;
    }

    .round-icon_family {
        background-position: 0 -342px;
    }

    .round-icon_parents {
        background-position: 0 -684px;
    }

    .round-icon_hunter {
        background-position: 0 -912px;
    }

    .round-icon_active {
        background-position: 0 -456px;
    }

    .round-icon_crisis {
        background-position: 0 -570px;
    }

    .round-icon_danger {
        background-position: 0 -798px;
    }

    .round-icon_children {
        background-position: 0 -1026px;
    }
}
@mixin round_icon_hover() {
            .round-icon_health {
                background-position: 0 -57px;
            }

            .round-icon_yourprice {
                background-position: 0 -171px;
            }

            .round-icon_professional {
                background-position: 0 -285px;
            }

            .round-icon_family {
                background-position: 0 -399px;
            }

            .round-icon_parents {
                background-image:url(../img/Easter-Egg-Animation-60.gif);
                background-position: 0 0;
                //background-position: 0 -741px;
            }

            .round-icon_hunter {
                background-position: 0 -969px;
            }

            .round-icon_active {
                background-position: 0 -513px;
            }

            .round-icon_crisis {
                background-position: 0 -627px;
            }

            .round-icon_danger {
                background-position: 0 -855px;
            }

            .round-icon_children {
                background-position: 0 -1083px;
            }
}
// *********************************** //
// Стили относящиеся к калькулятору здоровье
// *********************************** //
.calculator_flat.calculator_health {
    z-index:auto;
    // *********************************** //
    // Заглушка баннера
    // *********************************** //
    .block {
        height: 250px;
        height: 13vw;
        min-height: 200px;
        padding-top: 0;
    }

    .block__items {
        height: 165px;
        margin: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .calculator__benefits-item {
        margin-bottom: 0;
    }

    .block__background {
        /*top: -140px;*/
        top: -57%;
    }

    @media (max-width:1400px) {

        .block__background {
            top: -40%;
        }
    }

    @media (max-width:1100px) {

        .block__background {
            top: -15%;
        }

        .block__items {
            margin-left: 20px;
        }
    }
    // *********************************** //
    // Обертка калькулятора
    // *********************************** //
    .calculator__inner {
        padding: 20px 0 60px;
        width: 1070px;
        //background: url(../img/Constructor.png) -124px -49px no-repeat;
    //background: url(../img/Box.png) -124px -49px no-repeat;
    }

    .calculator__inner_left {
        float: left;
        margin-right: 40px;
        width: 710px;
        margin-bottom: 80px;
    }

    .calculator__inner_right {
        width: 310px;
        float: left;
        margin: 0;
        min-height: 100px;
    }

    .age-block, .sum-block,
    .price-block,
    .content_insurance-block,
    .additional_risks-block,
    .sport_professioan-block,
    .total_price-block {
        float: left;
        clear: both;
        width: 100%;
        position: relative;
    }

    .sum-block {
        margin-bottom: -20px;
        margin-top: 5px;
    }
    // *********************************** //
    // Popup
    // *********************************** //
    .popup_calc {
        top: 60px;

        .submission__column_left {
            position: relative;
            width: 675px;
            background: rgba(253, 253, 253, 0.9);
            border-radius: 9px;
            box-shadow: 0 1px 15px 1px rgba(0, 0, 0, 0.2);
            padding: 0 0 10px 30px;
            margin-right: 16px;
        }

        .submission__column_right {
            width: 284px;
        }

        .submission__header {
            margin: 37px 0 70px;
        }
    }

    .submission__item_online {
        width: 255px;

        .form_callback {
            display: block;

            .label-wrap {
                width: 95px;
                margin-right: 10px;

                &.label-wrap_reason {
                    width: 140px;
                }
            }

            .input {
                width: 105px;

                &.input_phone {
                    width: 130px;
                    font-size: 14px;
                }

                &.input_timerange {
                    width: 45px;
                }

                &.input_date {
                    background-position: 91% -720px;
                }
            }

            .fieldset_timerange .label {
                margin-right: 1px;
            }

            .select_Reason {
                .select__list {
                    width: 190px;
                }

                .select__list-item {
                    &:hover, &.selected {
                        background: #6FA6DF;
                    }
                }
            }

            .yellow-btn {
                width: 250px;
                padding:12px 30px;
            }
        }
    }

    .form_discount {
        .input_promo-code {
            line-height: 32px;
            font-family: $font-pragmatica-light;
            height: 48px;
            font-size: 16px;
            border-radius: 6px;
            padding: 0 19px;
            width: 180px;
        }

        .yellow-btn {
            margin-left: 0;
        }
    }
    // *********************************** //
    // Стиль datepicker ui.bootstrap
    // *********************************** //
    .styled_datepicker {
        //angular datepicker
        .dropdown-menu {
            font-family: $font-pragmatica-light;

            table {
                outline: none;

                thead {
                    border-bottom: 1px solid #ccc;
                    line-height: 30px;
                }
            }
        }

        button[id$=title] {
            font-family: $font-pragmatica-light;
            border: 1px solid #ccc;

            strong {
                font-weight: normal;
            }
        }

        button {
            &.pull-left, &.pull-right {
                width: 20px;
                height: 20px;
                background: url(../img/calendar-arr.png) no-repeat 0 0;
            }

            &.pull-right {
                background-position: 0 -80px;
            }
        }

        .btn {
            font-family: $font-pragmatica-light;
            background: #fff;
            border: none;
            text-shadow: none;
            box-shadow: none;
            color: #000;
            padding: 2px 4px;

            &[disabled] {
                color: #4ea8cc;

                &:hover {
                    background: #fff;
                }
            }

            .text-info {
                color: #000;
                border: 1px solid #fed22f;
                border-radius: 20px;
            }

            .text-muted {
                opacity: .5;
            }

            span {
                padding: 1px 2px;
                border-radius: 20px;

                &:hover {
                    background: #1c94c4;
                    color: #fff;
                }
            }
        }

        small {
            color: #747474;
            font-weight: normal;
            font-size: 100%;
        }
    }
    // *********************************** //
    // Переопределение стиля bootstrap 
    // невалидных полей при фокусе
    // *********************************** //
    .input-wrap:not(._invalid),
    .textarea-wrap:not(._invalid) {
        input:focus:invalid,
        textarea:focus:invalid,
        select:focus:invalid,
        input:focus:invalid:focus,
        textarea:focus:invalid:focus,
        select:focus:invalid:focus {
            color: #555555;
            border-color: rgba(130, 172, 204, 0.8);
            outline: 0;
            outline: thin dotted \9;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(130, 172, 204, 0.6);
            -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(130, 172, 204, 0.6);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(130, 172, 204, 0.6);
        }
    }
    // *********************************** //
    // Список страховок
    // *********************************** //
    ul {
        list-style-type: none;
    }

    .help-icon {
        margin: -2px 0 0 5px;
        background: url(../img/help-icons.png) 0 0 no-repeat;
        width: 20px;
        height: 20px;

        &._active, &:hover {
            background-position: 0 -20px;
        }

        ul {
            list-style-type: disc;
        }

        .help-icon__popup {
            padding: 25px;
            z-index:999;

            &.help-icon__popup_up {
                &::before {
                    border: 8px solid transparent;
                    border-top: 8px solid #ffffff;
                    display: block;
                    content: '';
                    position: absolute;
                    right: 45px;
                    bottom: -15px;
                }
            }
        }

        .help-icon__inner {
            font-family: $font-pragmatica-light;
            line-height: 20px;

            h3 {
                font-family: $font-highway_sans_pro-light;
                font-size: 20px;
                line-height: 16px;
                font-weight: normal;
                margin: 0 0 10px 0;
                color: #000;
            }
        }
    }

    .bill-list__header {
        width: 100%;
        font-size: 27px;
        font-family: $font-highway_sans_pro-thin;
        color: $header-color;
        margin: 55px 0 35px;
    }

    .bill-list__item {
        display: inline-block;
        width: 370px;
        margin-right: 15px;
        cursor: pointer;

        &:hover {

                @include round_icon_hover();
        }

        &:nth-child(even) {
            width: 290px;
            margin-right: 0;
        }
    }

    .bill-list__title {
        text-decoration: none;
    }

    .bill-list__text {
        font-family: $font-highway_sans_pro-thin;
        font-size: 20px;
        margin-left: 7px;
        color: $blue-color;
        border-bottom: $blue-border-style;
        text-decoration: none;
        cursor: pointer;

        &:hover {
            color: $blue-color;
        }

        &:focus {
            color: $blue-color;
        }
    }

    .bill-list__text_grey {
        color: $header-color;
        cursor: default;
        font-size: 27px;
        vertical-align: middle;
        border-bottom: none;

        &:hover, &:focus {
            color: $header-color;
            border-bottom: none;
        }
    }

    .bill-list_prepared {
        .bill-list__item {
            margin-bottom: 20px;
        }
    }

    .round-icon {
        width: 57px;
        height: 57px;
        background: none;
        border-radius: 28px;
        background-image: url(../img/calc-icons.png);
        background-repeat: no-repeat;
        display: inline-block;
        vertical-align: middle;
    }

    @include round_icon();

    .round-icon_hover {
        background-position: 0 -1140px;
    }

    .choose_calculator {
        .bill-list {
            margin-top: -2px;
        }
    }
    // *********************************** //
    //  Блок перезвонить
    // *********************************** //
    ._movable {
        width: 280px;
        margin-top: 30px;
    }

    .submission__item_online {
        padding: 15px;
        font: 16px $font-pragmatica-book;
        padding-bottom: 72px;
        color: $header-color;
        position: relative;
        box-shadow: 0 5px 22px -7px rgba(0, 0, 0, 0.3);
        .submission__item-title {
            font: 16px $font-pragmatica-light;
            .submission__code {
                font: 16px $font-pragmatica-book;
                display: inline-block;
            }
        }

        .submission__phone {
            font-family: $font-pragmatica-extra_light;
            font-size: 27px;
            line-height: 45px;
            color: $header-color;
        }

        .popup_callback-link {
            font-family: $font-pragmatica-light;
            line-height: 17px;
        }

        .submission__chat-title {
            background: url("../img/chat-icon.png") no-repeat scroll 16px 13px #82accc;
            font-size: 16px;
            padding-left: 59px;
            height: 58px;
            line-height: 58px;
        }
    }

    .submission__item_price {
        margin-top: 11px;
        box-shadow: 0 5px 22px -7px rgba(0, 0, 0, 0.3);
        padding:25px 15px 30px;
        width: 255px;
        .blue-link_dashed {
            font-family: $font-pragmatica-light;
            font-size: 16px;
            display: block;
            width: 165px;
            margin-bottom: 20px;
        }

        .submission__sum {
            font-size: 32px;
            margin:10px 0 15px;
        }
        .yellow-btn{
            padding: 13px 41px;
margin-top: -2px;
        }
    }

    .submission__item-wrap {
        padding: 0;
    }
    // *********************************** //
    //  Шаги для полиса
    // *********************************** //
    .calculator__step_delim:before {
        height: 1px;
        background: #ccc;
        right: auto;
        left: 38px;
        width: 242px;
    }

    .calculator__step_current.calculator__step_delim:before {
        background: $yellow-color; /* Old browsers */
        /* IE9 SVG, needs conditional override of 'filter' to 'none' */
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZGYwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjY2NjY2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(left, $yellow-color 0, #cccccc 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, right top, color-stop(0,$yellow-color), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(left, $yellow-color 0,#cccccc 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(left, $yellow-color 0,#cccccc 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(left, $yellow-color 0,#cccccc 100%); /* IE10+ */
        background: linear-gradient(to right, $yellow-color 0,#cccccc 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdf00', endColorstr='#cccccc',GradientType=1 ); /* IE6-8 */
    }

    .calculator__step-number {
        background: #cccccc;
        border-color: #cccccc;
        color: #fff;
    }

    .calculator__step_current .calculator__step-number {
        background: $yellow-color;
        border-color: $yellow-color;
        color: #665d33;
    }

    .calculator__step:first-child .calculator__step-label {
        bottom: -24px;
    }

    .calculator__step .calculator__step-label {
        color: #404040;
        font-size: 15px;
        bottom: -44px;
    }

    .calculator__steps {
        display: none;
        margin-bottom: 29px;
        margin-left: 63px;
    }
    // *********************************** //
    //  Расчет полиса
    // *********************************** //
    .submission__header {
        font-size: 42px;
        font-family: $font-highway_sans_pro-extra_thin;
        color: $header-color;
        margin: 55px 0 50px;
    }

    .chosen_calculator {
        .bill-list {
            padding-top: 4px;
            padding-left: 2px;
        }

        .content_insurance-block {
            ul {
                margin-left: -3px;
            }

            .bill-list__header {
                margin-top: 51px;
                margin-bottom: 15px;
            }
        }

        .bill-list__header {
            margin-top: 50px;
        }

        .bill-list__item {
            width: auto;
            cursor: default;
            margin-right: 0;
            position: relative;
        }

        .bill-list__text {
            font-family: $font-highway_sans_pro-thin;
            line-height: 58px;
            cursor: pointer;

            &.small {
                font-family: $font-pragmatica-light;
                font-size: 15px;
            }
        }

        .bill-list__text_grey {
            cursor: default;
        }

        @include round_icon_hover();
        // *********************************** //
        //          Открывающееся меню
        // *********************************** //
        .change_insurance:hover {
            border-bottom: none;
        }

        .change_insurance:hover ~ .round-icon_hover {
            display: block;
        }

        .round-icon_hover {
            display: none;
            top: 1px;
            position: absolute;
        }

        .animation_menu {
            display: none;
            width: 700px;
            height: 57px;
            z-index: auto;
            top: 1px;
            position: absolute;
            background: #fff;

            .round-icon {
                position: absolute;
                left: 0;
                top: 0;
                //margin-top:20px;
                cursor: pointer;
            }

            &.animate_menu {
                .round-icon_health {
                    -webkit-animation: moveLeft1 1s linear forwards;
                    -moz-animation: moveLeftT1 1s linear forwards;
                    -ms-animation: moveLeft1 1s linear forwards;
                    animation: moveLeft1 1s linear forwards;
                    background-position: 0 0;

                    &:hover {
                        background-position: 0 -57px;
                    }
                }

                .round-icon_yourprice {
                    -webkit-animation: moveLeft2 1s linear forwards;
                    -moz-animation: moveLeftT2 1s linear forwards;
                    -ms-animation: moveLeft2 1s linear forwards;
                    animation: moveLeft2 1s linear forwards;
                    background-position: 0 -114px;

                    &:hover {
                        background-position: 0 -171px;
                    }
                }

                .round-icon_active {
                    -webkit-animation: moveLeft3 1s linear forwards;
                    -moz-animation: moveLeftT3 1s linear forwards;
                    -ms-animation: moveLeft3 1s linear forwards;
                    animation: moveLeft3 1s linear forwards;
                    background-position: 0 -456px;

                    &:hover {
                        background-position: 0 -513px;
                    }
                }

                .round-icon_professional {
                    -webkit-animation: moveLeft4 1s linear forwards;
                    -moz-animation: moveLeftT4 1s linear forwards;
                    -ms-animation: moveLeft4 1s linear forwards;
                    animation: moveLeft4 1s linear forwards;
                    background-position: 0 -228px;

                    &:hover {
                        background-position: 0 -285px;
                    }
                }

                .round-icon_crisis {
                    -webkit-animation: moveLeft5 1s linear forwards;
                    -moz-animation: moveLeftT5 1s linear forwards;
                    -ms-animation: moveLeft5 1s linear forwards;
                    animation: moveLeft5 1s linear forwards;
                    background-position: 0 -570px;

                    &:hover {
                        background-position: 0 -627px;
                    }
                }

                .round-icon_family {
                    -webkit-animation: moveLeft6 1s linear forwards;
                    -moz-animation: moveLeftT6 1s linear forwards;
                    -ms-animation: moveLeft6 1s linear forwards;
                    animation: moveLeft6 1s linear forwards;
                    background-position: 0 -342px;

                    &:hover {
                        background-position: 0 -399px;
                    }
                }

                .round-icon_danger {
                    -webkit-animation: moveLeft7 1s linear forwards;
                    -moz-animation: moveLeftT7 1s linear forwards;
                    -ms-animation: moveLeft7 1s linear forwards;
                    animation: moveLeft7 1s linear forwards;
                    background-position: 0 -798px;

                    &:hover {
                        background-position: 0 -855px;
                    }
                }

                .round-icon_parents {
                    background-image: url(../img/calc-icons.png);
                    -webkit-animation: moveLeft8 1s linear forwards;
                    -moz-animation: moveLeftT8 1s linear forwards;
                    -ms-animation: moveLeft8 1s linear forwards;
                    animation: moveLeft8 1s linear forwards;
                    background-position: 0 -684px;

                    &:hover {
                        //background-position: 0 -741px;
                         background-image:url(../img/Easter-Egg-Animation-60.gif);
                         background-position: 0 0;
                    }
                }

                .round-icon_hunter {
                    -webkit-animation: moveLeft9 1s linear forwards;
                    -moz-animation: moveLeftT9 1s linear forwards;
                    -ms-animation: moveLeft9 1s linear forwards;
                    animation: moveLeft9 1s linear forwards;
                    background-position: 0 -912px;

                    &:hover {
                        background-position: 0 -969px;
                    }
                }

                .round-icon_children {
                    -webkit-animation: moveLeft10 1s linear forwards;
                    -moz-animation: moveLeftT10 1s linear forwards;
                    -ms-animation: moveLeft10 1s linear forwards;
                    animation: moveLeft10 1s linear forwards;
                    background-position: 0 -1026px;

                    &:hover {
                        background-position: 0 -1083px;
                    }
                }
            }
        }

        .tooltip_wrap {
            position: relative;
            .tooltip_text {
                position: absolute;
                font-size: 14px;
                font-family: $font-pragmatica-light;
                line-height: 20px;
                color: $header-color;
                z-index: 1000;
                border-radius: 8px;
                box-shadow: 0 1px 15px 1px rgba(0, 0, 0, 0.2);
                background: #fff;
                text-align: left;
                padding: 25px;
                width: 400px;
                bottom: 67px;
                display: none;

                h3 {
                    font-family: $font-highway_sans_pro-light;
                    font-size: 20px;
                    line-height: 16px;
                    font-weight: normal;
                    margin: 0 0 10px 0;
                    color: #000;
                }

                &::before {
                    border: 8px solid transparent;
                    border-top: 8px solid #ffffff;
                    display: block;
                    content: '';
                    position: absolute;
                    left: 25px;
                    bottom: -15px;
                }
            }

            &:hover {

                .tooltip_text {
                    display: block;
                }
            }
        }
    }
    // *********************************** //
    //  bootstrap touchspin
    // *********************************** //
    .spinner-list {
        margin-top: -14px;
        float: left;
    }

    .spinner-list__item {
        float: left;
        margin-right: 93px;

        &:last-child {
            margin-right: 0;
            margin-left: -5px;
        }

        label {
            font-size: 15px;
            margin-bottom: 15px;

            span {
                color: #808080;
            }
        }
    }

    .bootstrap-touchspin {
        margin-left: 2px;

        .btn {
            float: left;
            width: 50px;
            height: 50px;
            border-radius: 8px;
            border: solid 1px #70a4d8;
            color: #70a4d8;
            background-color: #fff;
            background-image: url(../img/plus-minus-flat.png);
            background-position: -1px 0;
        }

        .bootstrap-touchspin-up {
            background-position: -129px 1px;
        }

        .input {
            float: left;
            margin: 0;
            width: 59px;
            height: 40px;
            box-shadow: none;
            font-size: 24px;
            font-family: $font-pragmatica-light;
            color: $header-color;
            text-align: center;
            border: none;
        }
    }
    // *********************************** //
    //  слайдер
    // *********************************** //
    .slider-container {
        width: 100%;
        position: relative;
        padding-top: 54px;
        margin-bottom: 48px;
    }

    .slider__price {
        color: #383838;
        font-size: 15px;
        position: absolute;
        display: inline-block;
        font-family: $font-pragmatica-light;
        margin-top: 10px;
        top: 57px;

        .rouble {
            color: #383838;
        }
    }

    .slider__price_min {
        left: 0;
    }

    .slider__price_max {
        right: 0;
    }

    .slider__text {
        margin-top: 0;
        max-width: 700px;
        top: 0;
        position: relative;
    }

    .slider {
        box-shadow: none;
        height: 4px;
        border-radius: 4px;
        border: none;
        background: #b5b6b5;
        position: relative;
        cursor: pointer;
        color: #5c5c5c;

        .slider__range {
            background: #ffdd2e;
            position: absolute;
            left: 0;
            top: 0;
            height: 4px;
            border-radius: 4px;
            border: none;
            z-index: 1;
            width: 0;
        }

        .ui-slider-handle {
            width: 22px;
            height: 22px;
            border-radius: 22px;
            border: solid 1px #ffdd2e;
            display: block;
            top: -11px;
            background: #ffdd2e;
            cursor: pointer;
            box-shadow: 0 0 5px 0rgba(0, 0, 0, 0.05);
            z-index: 5;
            position: absolute;
            outline: none;
        }

        .ui-slider-range {
            background: #ffdd2e;
        }

        .slider__info {
            position: absolute;
            font-family: $font-pragmatica-light;
            font-weight: normal;
            left: -175%;
            bottom: 35px;
            background: #fff;
            border-radius: 5px;
            border: solid 1px #bbbbbb;
            font-size: 16px;
            color: #000;
            padding: 10px;
            white-space: nowrap;
            z-index: 100;
            opacity: 1;
            cursor: default;


            &::before, &::after {
                content: '';
                position: absolute;
                left: 50%;
                border: 5px solid transparent;
                margin-left: -5px;
                bottom: -11px;
                border-top: 5px solid #bbbbbb;
            }

            &::after {
                border-top: 5px solid #fff;
                bottom: -10px;
            }

            .slider_input {
                font-family: $font-pragmatica-light;
                font-weight: normal;
                border: none;
                outline: 0;
                box-shadow: none;
                margin: 0;
                padding: 0;
                width: 80px;
                text-align: center;

                &:focus {
                    border: none;
                }
            }
        }
    }

    .sum_for_each {
        clear: both;
        padding-top: 60px;
        font-family: $font-highway_sans_pro-thin;
        font-size: 24px;
        line-height: 28px;
        vertical-align: baseline;
        color: $header-color;

        span {
            margin-left: 10px;
            font-size: 34px;
            vertical-align: baseline;
            color: #000;
        }
    }
    // *********************************** //
    //  select
    // *********************************** //
    .styled_select {
        display: inline-block;
        margin-left: 10px;
        padding: 0;
        vertical-align: baseline;

        select {
            width: auto;
            height: auto;
            font: 27px $font-highway_sans_pro-thin;
        }

        .btn-group {
            margin-bottom: 4px;

            .btn {
                position: relative;
                width: 140px;
                padding: 8px 12px;
                text-align: left;
                background: #fff;
                border-radius: 4px;
                border-color: #74a3c7;
                color: #74a3c7;
                font: 27px $font-highway_sans_pro-thin;
            }

            .caret {
                border-top: 4px solid #74a3c7;
                margin: 16px 0 0 0;
                position: absolute;
                right: 10px;
            }

            .dropdown-menu {
                font: 27px $font-highway_sans_pro-thin;
                width: 120px;
                min-width: 140px;
                margin-top: 0;

                li {
                    a {
                        padding: 5px 10px;
                        text-decoration: none;

                        &:hover {
                            background: #74a3c7;
                        }
                    }
                }
            }
        }
    }
    // *********************************** //
    //  checkbox and radio
    // *********************************** //
    .checkbox-wrap {
        height: 20px;
        margin-bottom: 22px;

        input[type="checkbox"] {
            opacity: 0;
        }

        label {
            display: inline-block;
            //margin-left: 10px;
            vertical-align: middle;
            font-size: 15px;
            margin-bottom: 0;
        }

        .checkbox {
            background: url("../img/form-custom-elements.png") no-repeat 0 0 rgba(0, 0, 0, 0);
            border: none;
            cursor: pointer;
            padding-left: 22px;
            display: inline;
        }

        .checkbox_big {
            width: 22px;
            height: 22px;
            padding-top: 1px;
            margin-right: 10px;
            background-position: 0 -560px;
        }

        &._checked {
            .checkbox {
                background-position: 0 -595px;
            }
        }
    }

    .checkbox-wrap_default {
        .checkbox {
            background-position: 0 -106px;
            padding-left: 35px;
        }

        &._checked {
            .checkbox {
                background-position: 0 0;
            }
        }
    }

    .radio-wrap {
        height: 20px;
        margin-bottom: 14px;
        display: block;

        input[type="radio"] {
            opacity: 0;
        }

        label {
            display: inline-block;
            // margin-left: 5px;
            vertical-align: middle;
            font-size: 15px;
            margin-bottom: 0;
        }

        .radio {
            position: relative;
            display: inline-block;
            padding: 0;
            height: 18px;
            min-height: 18px;
            width: 18px;
            border-radius: 18px;
            border: solid 1px #bababa;
            background: #fff;
            cursor: pointer;
            top: 4px;
            margin-right: 5px;
            vertical-align: baseline;
            overflow: initial;
        }

        .checked_radio {
            position: absolute;
            top: 2px;
            left: 2px;
            height: 14px;
            width: 14px;
            padding: 0;
            border-radius: 14px;
            background: #fff;
        }

        &._checked {
            .checked_radio {
                background: #70a4d8;
            }
        }
    }
    // *********************************** //
    //  Что входит в страховку
    // *********************************** //
    .content_insurance-block {
        .bill-list__header {
            margin-bottom: 20px;
        }

        li {
            margin-bottom: 5px;
        }

        span.checkbox_li {
            display: inline-block;
            vertical-align: middle;
            width: 22px;
            height: 22px;
            background: url("../img/form-custom-elements.png") no-repeat 0 -632px;
        }

        label {
            font-size: 15px;
            margin-left: 0;
            display: inline-block;
            color: $header-color;
        }
    }
    // *********************************** //
    //  Дополнительный опции и риски
    // *********************************** //
    .toggle__header {
        float: left;
        font-size: 27px;
        margin: 33px 0 48px 2px;
        color: $blue-color;
        cursor: pointer;
        font-family: $font-highway_sans_pro-thin;
        line-height: 30px;

        .title {
            display: inline-block;
            border-bottom: 1px dotted $blue-color-border;
            text-decoration: none;


            &:hover {
                color: $blue-color;
                border-bottom: 1px solid #fff;
            }

            &:focus {
                color: $blue-color;
            }
        }

        .toggle_icon {
            width: 21px;
            height: 21px;
            background: url("../img/toggle_icons.png") no-repeat 0 -21px;
            display: inline-block;
            margin-right: 10px;
            vertical-align: middle;
            margin-top: -2px;
        }

        &.active {
            .toggle_icon {
                background: url("../img/toggle_icons.png") no-repeat 0 0;
            }
        }
    }

    .toggle__content {
        clear: both;
    }

    .additional_risks-block {
        .additional_risk__title {
            margin: 37px 0 24px;
            font-size: 27px;
            color: $header-color;
            font-family: $font-highway_sans_pro-thin;
        }

        .radios-wrap {
            margin-top: -2px;
            margin-bottom: 42px;
        }
    }
    // *********************************** //
    //  Подготовленные страховки
    // *********************************** //
    .prepared-block {
        padding-left: 68px;

        .situation-text {
            margin-top: 12px;
            font-size: 15px;
            max-width: 510px;
            line-height: 22px;

            h3 {
                display: none;
            }
        }

        .calculator__people {
            margin: -10px 0;
            color: $header-color;
        }

        .insured_sum {
            margin-bottom: 0;
            font-family: $font-highway_sans_pro-thin;
            clear: both;

            span {
                color: $header-color;
                font-size: 22px;
                top: -1px;

                &.sum {
                    vertical-align: middle;
                    color: #595959;
                    font-family: $font-highway_sans_pro-regular;
                }
            }
        }
    }

    .in_prepared {
        padding-left: 71px;

        &.total_price-block {
            padding-left: 72px;
        }

        &.content_insurance-block {
            padding: 12px 0 5px 65px;

            .bill-list__header {
                display: none;
            }

            ul {
                margin-left: 2px;
            }
        }
    }
    // *********************************** //
    //  Блок для проф. спорта
    // *********************************** //
    .sport_professioan-block {
        .bill-list__header {
            margin-top: 25px;
        }

        .radio-wrap {
            float: left;
            margin-right: 50px;
            display: inline-block;
        }
    }
    // *********************************** //
    // Блок для страховки детей
    // *********************************** //
    .children-block {
        margin: 33px 0 0;

        .child_label {
            line-height: 55px;
            color: $header-color;
            float: left;
            margin: 0 25px 0 15px;
            width: 73px;
        }

        .insured_sum {
            font-size: 23px;
            padding: 6px 0 0 3px;
        }

        .help-icon {
            margin: 20px 0 0 10px;
        }
    }
    // *********************************** //
    //  Блок c окончательной суммой
    // *********************************** //
    .total_price-block {
        background: url("../img/zigzag.png") repeat-x 0 0;
        margin: 20px 0 0;
        padding-top: 42px;

        .bill-list__header {
            margin: 0 0 20px;
        }

        .total_price {
            font-family: $font-highway_sans_pro-regular;
        }

        .rouble {
            margin-top: -5px;
            font-size: 26px;
        }

        .styled_select {
            margin-top: 5px;
        }

        .yellow-btn {
            width: 102px;

            &.calculate {
                width: 160px;
            }
        }

        .small_text {
            font-size: 15px;
            display: inline-block;
            margin-left: 10px;
        }

        .blue-link {
            color: $blue-color;
            border-bottom: 1px solid #70a4d8;
            text-decoration: none;

            &:hover {
                color: $blue-color;
                border-bottom: none;
            }

            &:focus {
                color: $blue-color;
            }
        }
    }
    // *********************************** //
    // Информация о страхователе
    // *********************************** //
    .policy-cost-wrap {
        border: 1px solid #bbb;
        border-radius: 6px;
        background: #f9f9f9;
        padding: 20px;

        .policy-cost__title {
            width: 420px;
            font-family: $font-highway_sans_pro-light;
        }

        .submission__sum {
            margin: 0;
            font-family: $font-highway_sans_pro-regular;
            font-size: 28px;
        }

        .period {
            color: #8a8989;
            font-family: $font-pragmatica-book;
            font-size: 16px;
            padding-left: 10px;
            vertical-align: text-bottom;
        }

        .bill-list__text {
            margin: 20px 0 0;
            display: inline-block;
        }

        .rouble {
            font-size: 26px;
        }
    }

    .form_insurer {
        clear: both;
        margin-top: 55px;

        .fieldset__title {
            font: 26px $font-highway_sans_pro-light;
            color: #000;
        }

        .after-title {
            margin-bottom: 15px;
        }

        .fieldset_residence {
            padding-top: 5px;
        }

        .fieldset_insured {
            padding-top: 25px;
        }

        .fieldset__title_sex,
        .fieldset__title_registration,
        .fieldset__title_residence {
            font: 16px $font-pragmatica-book;
            display: block;
            margin-bottom: 10px;
        }

        .fieldset__title_insured-person {
            font: 18px $font-pragmatica-book;
        }

        .fieldset_insurer_contact,
        .fieldset_insured-persons {
            background: #f9f9f9;
            border-radius: 6px;
            padding: 20px;
        }

        .input {
            border: 1px solid #BBBBBB;
            color: #000000;
            display: inline-block;
            font-size: 16px;
            height: 48px;
            padding: 0 19px;
            vertical-align: middle;
            width: 620px;
            border-radius: 6px;
            line-height: 32px;
            font-family: $font-pragmatica-light;
            outline: none;
        }

        .input_date {
            width: 280px;
            background: #fff url(../img/form-custom-elements.png) no-repeat 94% -720px;
            cursor: pointer;
            position: relative;
        }

        .input_medium {
            width: 280px;

            &.input_email {
                width: 266px;
            }
        }

        .input-wrap_inline {

            &.input-wrap_phone {
                margin-right: 30px;
            }

            &.input-wrap_passport-number {
                margin-right: 20px;
            }

            &.input-wrap_email,
            &.input-wrap_passport-recieved-date {
                margin-right: 0;
            }

            .label-wrap_email {
                width: auto;
                margin-right: 4px;
            }
            .form__error-wrap{
                display:block;
            }
        }

        .input-wrap_date {
            .form__error-wrap {
                top: 54px;
            }
        }

        .label-wrap {
            width: 103px;
            margin-right: 20px;

            &.label-wrap_policy-date {
                width: 175px;
            }
        }

        .radios-wrap {
            display: inline-block;

            .radio-wrap {
                display: inline-block;
                margin-bottom: 34px;
            }
        }

        .textarea-wrapper {
            padding: 0;
            border: none;
            height: 100px;
            width: 660px;

            textarea {
                border-radius: 7px;
                padding: 9px 0 0 9px;
                border: 1px solid #BBBBBB;
                width: 650px;
            }

            .form__error-wrap {
                margin-top: 10px;
            }
        }

        .autocomplete-wrapper {
            padding: 0;
            width: 660px;
            margin-bottom: 10px;

            input {
                border: none;
                width: 596px;
                padding-right: 44px;
            }
        }

        .input-wrap_registration-building, .input-wrap_residence-building {

            .autocomplete-wrapper {
                width: 104px;

                input {
                    width: 40px;
                    padding-right: 44px;
                }
            }
        }

        .input-wrap_registration-flat, .input-wrap_residence-flat {
            input {
                width: 35px;
                margin-bottom: 10px;
                padding: 0 10px;
            }
        }

        .label-wrap_registration-building,
        .label-wrap_registration-flat,
        .label-wrap_residence-building,
        .label-wrap_residence-flat {
            width: auto;
        }

        .label_registration-building,
        .label_registration-flat,
        .label_residence-building,
        .label_residence-flat,
        .checkbox-wrap label,
        .radio-wrap label {
            font: 16px $font-pragmatica-book;
            color: #000;
            width: auto;
            margin-right: 0;
        }

        .fieldset_agreement {
            padding: 20px;
            background: #f9f9f9;
            border-radius: 0 0 6px 6px;
            margin-top: -30px;

            a {
                &:hover, &:focus {
                    color: #000;
                }
            }

            .label_agreement, .label_monthly {
                max-width: 650px;
            }

            .checkbox-wrap {
                height: auto;
                margin-left: 0;
            }

            .form__error-wrap {
                position: relative;
                bottom: auto;
                margin: -20px 0 20px;
                left: 0;
            }
        }

        ._invalid {
            input, textarea, .autocomplete-wrapper {
                background-color: #FFF5F5;
                border-color: #DD2E17;
                font-size: 16px;
            }

            .form__error-wrap {
                left: 0;
                bottom: auto;
            }
        }

        .yellow-btn {
            clear: both;
            margin-top: 30px;
            margin-left: 0;
width: 250px;
padding: 12px 0;
        }
    }
}


// *********************************** //
// Анимация для меню
// *********************************** //
$pos: -67px;
@for $i from 1 to 11 {
    $pos: $pos + 67px;
    @-moz-keyframes moveLeft#{$i} {
    0% {
        left: 0;
    }

    100% {
        left: $pos;
    }
}

@-ms-keyframes moveLeft#{$i} {
    0% {
        left: 0;
    }

    100% {
        left: $pos;
    }
}

@keyframes moveLeft#{$i} {
    0% {
        left: 0;
    }

    100% {
        left: $pos;
    }
}

@-webkit-keyframes moveLeft#{$i} {
    0% {
        left: 0;
    }

    100% {
        left: $pos;
    }
}
}

