<div class="chosen_calculator" ng-if="chosenInsurance">
	<ul class="bill-list">
		<li class="bill-list__item" ng-repeat="insurance in preparedInsurance" ng-if="chosenInsurance == insurance.key" ng-class="'bill-list_' + insurance.type">
			<span class="round-icon" ng-class="'round-icon_' + insurance.key"></span>
			<span class="bill-list__text bill-list__text_grey">{{insurance.title}}</span>
			<a class="bill-list__text small change_insurance " show-menu-animation>Изменить</a>
			<span class="round-icon round-icon_hover"></span>
			<div class="animation_menu ">
				<span class="tooltip_wrap" ng-repeat="insurance in preparedInsurance">
					<span ng-init="iconClass = 'round-icon_' + insurance.key" class="round-icon {{iconClass}}" scroll-on-click ng-click="chooseInsuranse(insurance.key)" ng-class="{chosen: chosenInsurance==insurance.key}"><span class="tooltip_text" ng-bind-html="insurance.helpText"></span></span>
				</span>
			</div>
		</li>
	</ul>

	<div class="age-block" ng-if="chosenInsurance=='health' || chosenInsurance=='yourprice'">
		<div class="bill-list__header">Возраст и количество застрахованных:</div>
		<div class="spinner-list">
			<div class="spinner-list__item">
				<label>Взрослые <span>(от 12 до 60)</span></label>
				<input class="input" type="text" ng-model="personsQuantity.adultsQuantity" max="5" spinner>
			</div>
			<div class="spinner-list__item">
				<label>Дети <span>(от 0 до 11)</span></label>
				<input class="input" type="text" ng-model="personsQuantity.kidsQuantity" max="3" spinner>
			</div>
			<div class="spinner-list__item">
				<label>Пенсионеры <span>(от 61 до 80)</span></label>
				<input class="input" type="text" ng-model="personsQuantity.pensionersQuantity" max="2" spinner>
			</div>
		</div>
	</div>

	<div class="sum-block" ng-if="chosenInsurance=='health'">
		<div class="bill-list__header">Страховая сумма на каждого застрахованного:</div>
		<div class="slider-container">
			<div class="slider" slider min="{{healthSlider.minValue}}" max="{{healthSlider.maxValue}}" step="{{healthSlider.stepValue}}" value="{{healthSlider.value}}" ng-model="healthSlider.value"></div>
			<div class="slider__price slider__price_min">{{healthSlider.minValue | splitDigits}}<span class="rouble"></span></div>
			<div class="slider__price slider__price_max">{{healthSlider.maxValue | splitDigits}}<span class="rouble"></span></div>
		</div>
		<div class="checkbox-wrap checkbox-wrap_big" ng-class="{'_checked' : checkBoxes.extendToWholeWorld}">
			<label for="world">
				<span class="checkbox checkbox_big">
					<input type="checkbox" id="world" ng-model="checkBoxes.extendToWholeWorld">
				</span>
				<span>Распространить действие полиса на весь мир</span>
			</label>
			<help-element regulartext="По умолчанию, если чек-бокс не установлен, полис действует на территории России"></help-element>
		</div>
	</div>
	<div class="price-block" ng-if="chosenInsurance=='yourprice'">
		<div class="bill-list__header">
			Введите комфортную для вас сумму
			<div class="styled_select">
				<div class="btn-group" dropdown on-toggle="toggled(open)">
					<button type="button" class="btn dropdown-toggle" dropdown-toggle>
						{{selectedComfortSumPeriod.text}} <span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li ng-repeat="period in sumPeriod" ng-click="chooseComfortPerion(period.value)"><a href>{{period.text}}</a></li>
					</ul>
				</div>
			</div>
			<!--<div class="styled_select"><select class="period_select" ng-model="selectedComfortSumPeriod" ng-options="period.text for period in comfortSumPeriod"></select></div>-->
			<help-element regulartext="В месяц: <br>Платеж автоматически списывается с вашей банковской карты раз в месяц. В любое время вы можете приостановить платежи или изменить  платежные реквизиты.<br>В год:<br>Оплатите страховку как привыкли, т.е.  на год вперед."></help-element>
		</div>
		<div class="slider-container">
			<div class="slider" id="yourpriceSlider" slider min="{{yourpriceSlider.minValue}}" max="{{yourpriceSlider.maxValue}}" step="{{yourpriceSlider.stepValue}}" value="{{yourpriceSlider.value}}" ng-model="yourpriceSlider.value"></div>
			<div class="slider__price slider__price_min">{{yourpriceSlider.minValue | splitDigits}}<span class="rouble"></span></div>
			<div class="slider__price slider__price_max">{{yourpriceSlider.maxValue | splitDigits}}<span class="rouble"></span></div>
		</div>
		<div class="slider__price slider__text">Мы гарантируем, что итоговая стоимость полиса будет не выше указанной Вами и отличаться<br /> не более,чем на 10%</div>
		<div class="sum_for_each">Страховая сумма на каждого застрахованного: <span>{{sumForEach | splitDigits}}</span><span class="rouble"></span></div>
	</div>
	<div class="prepared-block" ng-if="chosenInsuranceType=='prepared'">
		<div class="situation-text" ng-bind-html="currentInsurance.helpText"></div>

		<div class="children-block" ng-if="chosenInsurance=='children'">
			<div class="toggle-bg toggle-triple ">
				<label class="left" ng-if="radios.switchChildCount!=='one'">1</label>
				<label class="center" ng-if="radios.switchChildCount!=='two'">2</label>
				<label class="right" ng-if="radios.switchChildCount!=='three'">3</label>
				<input class="left" type="radio" name="childcount" value="one" ng-model="radios.switchChildCount">
				<input class="center" type="radio" name="childcount" value="two" ng-model="radios.switchChildCount">
				<input class="right" type="radio" name="childcount" value="three" ng-model="radios.switchChildCount">
				<span class="switch left" ng-if="radios.switchChildCount!=='two' && radios.switchChildCount!=='three'">1</span>
				<span class="switch center" ng-if="radios.switchChildCount!=='one' && radios.switchChildCount!=='three'">2</span>
				<span class="switch right" ng-if="radios.switchChildCount!=='one' && radios.switchChildCount!=='two'">3</span>
			</div>
			<div ng-show="radios.switchChildCount==='one'" class="child_label"> ребенок </div>
			<div ng-show="radios.switchChildCount!=='one'" class="child_label"> ребенка </div>
			<div class="toggle-bg toggle-alternate ">
				<label class="left" ng-if="radios.switchChildType=='home'">Домосед</label>
				<label class="right" ng-if="radios.switchChildType=='active'">Активный</label>
				<input type="radio" name="childtype" value="active" ng-model="radios.switchChildType">
				<input type="radio" name="childtype" value="home" ng-model="radios.switchChildType">
				<span class="switch" ng-if="radios.switchChildType=='active'">Домосед</span>
				<span class="switch" ng-if="radios.switchChildType=='home'">Активный</span>
			</div>
			<help-element regulartext="Домосед - в страховку не будут включены риски, связанные с занятиями спортом<br/>Активный - в страховку будут включены риски, связанные с занятиями активными видами спорта. К таким видам спорта относятся - авиа-, авто- и мотоспорт, конный спорт, воздушные виды спорта (парашютизм, дельтапланеризм, парапланеризм и др.), водные виды спорта, в том числе: подводное плавание и водный туризм; горные лыжи и сноуборд, контактные единоборства, альпинизм, скалолазание, горный туризм, стрельба, участие в охоте с применением любого вида оружия."></help-element>
			<div class="bill-list__header insured_sum">Покрытие до <span class="sum">{{currentInsurance.insuredSum}}</span><span class="rouble"></span> на каждого ребенка</div>
		</div>

		<div ng-if="chosenInsurance !=='children'">
			<div class="bill-list__header">Кого страхуем:</div>
			<div class="calculator__people">{{currentInsurance.peopleText}}</div>
			<div class="bill-list__header insured_sum">Покрытие до <span class="sum">{{currentInsurance.insuredSum}}</span><span class="rouble"></span> на человека</div>
		</div>
	</div>

	<div class="content_insurance-block" ng-class="{in_prepared: chosenInsuranceType=='prepared'}">
		<div class="bill-list__header">Что входит в страховку:</div>
		<ul>
			<li ng-repeat="content in insuranceContent | filter: filterByInsurance ">
				<span class="checkbox_li"></span>
				<label>{{content.title}}</label>
				<help-element text="content.helpText"></help-element>
			</li>
		</ul>
	</div>
	<div class="additional_risks-block" ng-if="chosenInsurance=='health'">
		<a scroll-to-element class="toggle__header" ng-class="{true: 'active'}[additionalOpen]" ng-click="additionalOpen = !additionalOpen"><span class="toggle_icon"></span><span class="title" ng-hide="additionalOpen">Дополнительные опции и риски</span><span class="title" ng-show="additionalOpen">Скрыть дополнительные опции и риски</span></a>
		<div class="toggle__content" ng-show="additionalOpen">
			<div class="additional_risk__title">Несчастный случай:</div>
			<div ng-repeat="accident in accidents" class="checkbox-wrap checkbox-wrap_big" ng-class="{'_checked' : accidentsValues[accident.name]}">

				<label for="{{accident.key}}">
					<span class="checkbox checkbox_big" ng-class="'checkbox_'+ accident.key">
						<input type="checkbox" id="{{accident.key}}" ng-model="accidentsValues[accident.name]">
					</span>
					<span ng-bind-html="accident.title"></span>
				</label>
				<help-element text="accident.helpText"></help-element>
			</div>
			<div class="additional_risk__title">Занятия спортом:</div>
			<div class="radios-wrap">
				<div ng-repeat="sport in sports" class="radio-wrap radio-wrap_default" ng-class="{'_checked' : radios.sportActivity == sport.value}">
					<label for="{{sport.key}}">
						<span class="radio" ng-class="'radio_'+ sport.key">
							<span class="checked_radio">
								<input type="radio" id="{{sport.key}}" name="{{sport.name}}" ng-model="radios.sportActivity" ng-value="sport.value">
							</span>
						</span><span>{{sport.title}}</span>
					</label>
					<help-element text="sport.helpText"></help-element>
				</div>
			</div>
			<div class="additional_risk__title">Расходы:</div>
			<div class="checkbox-wrap checkbox-wrap_big" ng-class="{'_checked' : checkBoxes.jobLoss}">
				<label for="income">
					<span class="checkbox checkbox_big checkbox_income">
						<input type="checkbox" id="income" ng-model="checkBoxes.jobLoss">
					</span>Потеря работы (до 300 000<span class="rouble"></span>)
				</label>
				<help-element regulartext="Страхование от риска потери  постоянного дохода при увольнении в связи с сокращением или ликвидацией предприятия, по состоянию здоровья."></help-element>
			</div>
		</div>
	</div>

	<div class="sport_professioan-block in_prepared" ng-if="chosenInsurance=='professional'">
		<div class="bill-list__header">Занятия спортом:</div>
		<div class="radios-wrap">
			<div ng-repeat="sport in sports" ng-if="!$first" class="radio-wrap radio-wrap_default" ng-class="{'_checked' : radios.sportActivity == sport.value}">
				<label for="{{sport.key}}">
					<span class="radio" ng-class="'radio_'+ sport.key" radio>
						<span class="checked_radio">
							<input type="radio" id="{{sport.key}}" name="{{sport.name}}" ng-model="radios.sportActivity" ng-value="sport.value">
						</span>
					</span><span>{{sport.title}}</span>
				</label>
				<help-element text="sport.helpText"></help-element>
			</div>
		</div>
	</div>

	<div class="total_price-block" ng-class="{in_prepared: chosenInsuranceType=='prepared'}">
		<div class="bill-list__header">
			<span ng-if="chosenInsuranceType=='calculate'">Стоимость полиса: </span><span ng-if="chosenInsuranceType=='prepared'">Стоимость: </span><span class="total_price">{{totalPolicyPrice | splitDigits}}</span><span class="rouble"></span>
			<div class="styled_select">
				<div class="btn-group" dropdown on-toggle="toggled(open)">
					<button type="button" class="btn dropdown-toggle" dropdown-toggle>
						{{selectedTotalSumPeriod.text}} <span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li ng-repeat="period in sumPeriod" ng-click="chooseTotalPerion(period.value)"><a href>{{period.text}}</a></li>
					</ul>
				</div>
			</div>
			<!--<div class="styled_select"><select class="period_select" ng-model="selectedTotalSumPeriod" ng-options="period.text for period in totalSumPeriod"></select></div>-->
			<help-element regulartext="В месяц: <br>Платеж автоматически списывается с вашей банковской карты раз в месяц. В любое время вы можете приостановить платежи или изменить  платежные реквизиты.<br>В год:<br>Оплатите страховку как привыкли, т.е.  на год вперед."></help-element>
		</div>
		<a scroll-on-click ng-if="chosenInsuranceType=='calculate'" class="yellow-btn yellow-btn_make-policy calculate" ng-class="{'_disabled' : disablePolicy}" ng-click="changeBuyStep('insurer')">Оформить полис</a>
		<a scroll-on-click ng-if="chosenInsuranceType=='prepared'" class="yellow-btn yellow-btn_make-policy" ng-class="{'_disabled' : disablePolicy}" ng-click="changeBuyStep('insurer')">Купить</a> <div ng-if="chosenInsuranceType=='prepared'" class="small_text">Или собрать свой полис в <a class="blue-link" scroll-on-click ng-click="chooseInsuranse('health')">Конструкторе</a></div>
	</div>
</div>
