@{
	Layout = null;
}
<div class="calculator__inner_left">

	<div class="submission__header">Расчёт и покупка страхового полиса</div>
	<div ng-switch on="buyStep">
		<div ng-switch-when="calculate">
			<flat-health-calculator></flat-health-calculator>
		</div>
		<div ng-switch-when="insurer">
			<insurer-for-health></insurer-for-health>
		</div>
	</div>

	
</div>
<div class="calculator__inner_right" ng-class="{'with_open_block' : callbackForm_1}">
	<div ng-if="chosenInsurance" class="_movable" sticky>
		<div class="submission__item submission__item_online">
			<div class="submission__item-wrap">
				<div class="submission__item-title submission__item-title_code">Код вашего расчета: <span class="submission__code">715162</span></div>
				<div class="submission__phone call_phone_1">8 800 755-80-00</div>
				<span class="blue-link blue-link_dashed popup_callback-link" ng-click="showCallback('callbackForm_1')">Перезвоните мне</span>
				<callback-form key="callbackForm_1"></callback-form>
			</div>
			<div class="submission__chat">
				<div class="submission__chat-opener">
					<span class="submission__chat-title submission__chat-title_closed _active">
						Спросить в онлайн-чате
					</span><span class="submission__chat-title submission__chat-title_opened">Скрыть онлайн-чат</span><div class="chat-close"></div>
				</div><div class="submission__chat-wrapper"><div class="info-panel info-panel_chat"></div></div>
			</div>
		</div>
		<div class="submission__item submission__item_price">
			<div class="submission__item-wrap">
				<div class="submission__policy-title">Стоимость вашего полиса</div>
				<div class="submission__sum">
					<span class="_result">{{totalPolicyPrice | splitDigits}}</span><span class="rouble"></span>
				</div>
				<div class="promo-discount__content" ng-show="buyStep=='calculate'">
					<span class="blue-link blue-link_dashed popup_callback-link" ng-click="showPromoBlock=!showPromoBlock">У вас есть промокод?</span>
					<div class="form form_promo-discount" ng-show="showPromoBlock">
						<form role="form" name="promoForm" class="form form_discount" ng-submit="submitPromoForm(promoForm.$valid)" novalidate>
							<div class="input-wrap input-wrap_inline input-wrap_promo-code" ng-class="{'_invalid' : submittedPromoForm && (promoForm.promoCode.$error.required || invalidPromoCode)}">
								<span class="label-wrap label-wrap_promo-code">
									<label class="label label_promo-code">Укажите его и стоимость полиса уменьшится</label>
								</span>
								<input id="promo-code" type="text" name="promoCode" class="input input_medium input_promo-code" ng-model="promo.promoCode" required />
								<p class="form__error" ng-show="submittedPromoForm && promoForm.promoCode.$error.required">Нужно указать код</p>
								<p class="form__error" ng-show="invalidPromoCode">Промокод не найден</p>
							</div>
							<input type="submit" class="yellow-btn" value="OK">
						</form>
					</div>
				</div>
				<a scroll-on-click ng-show="buyStep=='calculate'" ng-click="changeBuyStep('insurer')" class="yellow-btn yellow-btn_make-policy" ng-class="{'_disabled' : disablePolicy}">
					Оформить полис
				</a>
			</div>
		</div>
	</div>
</div>
<div class="choose_calculator" ng-show="$parent.insurancesPopup">
	<div class="popup-overlay"></div>
	<div class="popup popup_calc">
		<div class=" submission__column submission__column_left">
			<div class="submission__close submission__close_calc" ng-click="$parent.toggleGeneralPopup(false)"></div>
			<div class="submission__header">Расчёт и покупка страхового полиса</div>
			<div class="">
				<div class="bill-list__header">Я хочу застраховать:</div>
				<ul class="submission__icons submission__icons_block" ng-show="$parent.insurancesPopup" ng-hide="$parent.healthPopup">
					<li><a><span class="insurance_icon travel_icon"></span><span class="text">Путешествие</span></a></li>
					<li><a><span class="insurance_icon property_icon"></span><span class="text">Недвижимость</span></a></li>
					<li><a ng-click="$parent.healthPopup=true" scroll-on-click><span class="insurance_icon health_icon"></span><span class="text">Здоровье</span></a></li>
					<li><a><span class="insurance_icon auto_icon"></span><span class="text">Автомобиль</span></a></li>
				</ul>
				<ul class="submission__icons submission__icons_row" ng-show="$parent.healthPopup" ng-hide="$parent.insurancesPopup">
					<li><span class="insurance_icon health_icon"></span><span class="text">Здоровье</span></li>
					<li><span class="insurance_icon travel_icon"></span></li>
					<li><span class="insurance_icon property_icon"></span></li>
					<li><span class="insurance_icon auto_icon"></span></li>
				</ul>
			</div>
			<div ng-show="$parent.healthPopup" ng-hide="$parent.insurancesPopup">
				<div class="bill-list__header">Рассчитайте самостоятельно:</div>
				<ul class="bill-list">
					<!-- Выбор метода расчета полиса-->
					<li class="bill-list__item" ng-repeat="insurance in preparedInsurance | filter: { type: 'calculate' }" ng-click="chooseInsuranse(insurance.key)" scroll-on-click>
						<a class="bill-list__title">
							<span class="round-icon" ng-class="'round-icon_' + insurance.key"></span>
							<span class="bill-list__text">{{insurance.title}}</span>
						</a>
					</li>
				</ul>
				<div class="bill-list__header">Или выберите готовую страховку:</div>
				<!-- Выбор готовых страховок-->
				<ul class="bill-list bill-list_prepared">
					<li class="bill-list__item" ng-repeat="insurance in preparedInsurance | filter: { type: 'prepared' } " ng-click="chooseInsuranse(insurance.key)" scroll-on-click>
						<a class="bill-list__title">
							<span class="round-icon" ng-class="'round-icon_' + insurance.key"></span>
							<span class="bill-list__text">{{insurance.title}}</span>
							<help-element text="insurance.helpText"></help-element>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class=" submission__column submission__column_right">
			<div class="submission__item submission__item_online" sticky>
				<div class="submission__item-wrap">
					<div class="submission__item-title submission__item-title_code">Код вашего расчета: <span class="submission__code">715162</span></div>
					<div class="submission__phone call_phone_1">8 800 755-80-00</div>
					<span class="blue-link blue-link_dashed popup_callback-link" ng-click="showCallback('callbackForm_2')">Перезвоните мне</span>
					<callback-form key="callbackForm_2"></callback-form>
				</div>
				<div class="submission__chat">
					<div class="submission__chat-opener">
						<span class="submission__chat-title submission__chat-title_closed _active">
							Спросить в онлайн-чате
						</span><span class="submission__chat-title submission__chat-title_opened">Скрыть онлайн-чат</span><div class="chat-close"></div>
					</div><div class="submission__chat-wrapper"><div class="info-panel info-panel_chat"></div></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="overlay overlay_loader" ng-show="showLoader">
	<div class="loader"><img src="/img/loader.gif"></div>
</div>


